
body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 7, 0.61),
      rgba(0, 0, 2, 0.699)
    ),
    url("Fotos/background.webp");
  background-repeat: repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
}

h1 {
  font-size: clamp(16px, 8vw, 55px);
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  
}

h3 {
  text-align: center;
  font-size: clamp(3px, 2vw, 25px);
  margin-bottom: 25px;
}

.sichtbar {
  color: black;
}

.unsichtbar {
  color: transparent;
  visibility: visible;
}

.header {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}

.wappen {
  display: flex;
  align-self: center;
  top: 0;
  left: 0;
  height: 30vw;
  max-height: 300px;
}

.leiste {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  background-color: gold;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.leiste div:hover h2 {
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: clamp(8px, 4vw, 25px);
}

.stundenplan {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.wochentag {
  border-right: solid 2px #000;
  box-sizing: border-box;
  overflow: hidden;
  width: 200px;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.samstag {
  border: none;
}
.time {
  background-color: goldenrod;
  border-radius: 5px;
}

.eintrag {
  text-align: center;
  border: solid 2px #000;
  margin: 15px;
  height: 110px;
  width: auto;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.493);
  border-color: rgba(0, 0, 0, 0.493);
}

.eintrag p.time {
  margin-bottom: 10px;
  text-shadow: 0px 0px 0px;
  color: black;
}

.eintrag p {
  margin: 5px;
  font-size: clamp(12px, 1vw, 30px);
  color: white;
}
 .competition {
  font-size: clamp(6px, 1vw, 25px) !important;
  margin-top: -5px !important;
} 
.eintrag p + p {
  margin-top: 2px;
}

.hidden {
  visibility: hidden;
}

.infodiv {
  margin-top: 120px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(
    to right,
    rgb(218, 165, 10),
    rgba(58, 50, 13, 0.63)
  );
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.692);
}

.infotext {
  width: 500px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gruppendiv {
  margin: 30px;
  width: 40%;
  display: flex;
  align-self: center;
}

.gruppenbild {
  height: 100%;
  width: 100%;
  border: solid;
  border-width: 5px;
  border-color: gray;
}

.insta {
  background: #c13584;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #c13584;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
}
.instabutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.insta:hover {
  background-color: #c13584;
  box-shadow: 0 10px 20px rgba(241, 236, 236, 0.493);
}

.contactdiv {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  background:  linear-gradient(
    to left,
    rgb(218, 165, 10),
    rgba(58, 50, 13, 0.733)
  );
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.692);
}

.contact {
  margin: 30px;
}

.map {
  border: solid;
  border-width: 5px;
  border-color: gray;
}
iframe {
  width: 600px;
  height: 450px;
}
.daten {
  font-size: 25px;
  
}
.ansprechpartner {
  text-align: center;
}

a[href^="mailto"], a[href^="tel"] {
  color: black; 
  text-decoration: none;
}

a[href^="mailto"]:hover, a[href^="tel"]:hover {
  color: blue;
  text-decoration: underline; 
}


.reviews-section {
  background: linear-gradient(
    to right,
    rgb(218, 165, 10),
    rgba(58, 50, 13, 0.63)
  );
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.692);
  padding: 60px 20px;
  margin-top: 50px;
  text-align: center;
}

.reviews-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 40px;
  word-wrap: break-word; /* Sicherstellen, dass Wörter umgebrochen werden */
  text-align: center; /* Zentrierte Überschrift */
  max-width: 90%; /* Maximale Breite für kleinere Bildschirme */
  margin: 0 auto 40px; /* Zentrierung durch auto-Margin */
}

.reviews-slider {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.review {
  margin-bottom: 20px;
}
.review-detail {
  font-size: 1rem;
  color: white;
  font-style: italic;
  margin-bottom: 15px;
}

.review-name {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 20px;
}

.review-stars {
  color: #ffc107; /* Goldene Sterne */
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.reviews-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reviews-controls button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.reviews-controls button:hover {
  color: #233d2e;
}

.footer-links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.733);
}

.footer-links a {
  margin: 0 15px;
  font-size: 16px;
  color: #555;
}

.footer-links a:hover {
  color: goldenrod;
  text-decoration: underline;
}

.dataimptext {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1050px) {
  body {
    background-image: linear-gradient(
        to right,
        rgba(7, 7, 7, 0.479),
        rgba(0, 0, 2, 0.479)
      ),
      url("Fotos/background.webp");
    background-repeat: repeat;
    background-size: 100vw auto;
    background-attachment: fixed;
    background-position: center top;
  }
  h2 {
    display: flex;
    align-self: center;
    color: black;
  }

  h3 {
    font-size: 20px;
  }
  .sichtbar {
    color: black;
  }
  .unsichtbar {
    color: transparent;
    visibility: visible;
  }
  .header {
    margin-top: -30px;
  }
  .leiste {
    margin-bottom: 50px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  }
  .button {
    font-size: clamp(20px, 3vw, 30px);
  }

  .stundenplan p {
    font-size: clamp(12px, 1vh, 20px);
  }

  .nAbsprache {
    visibility: hidden;
  }

  .infodiv {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
  }

  .infotext {
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: clamp(12px, 2vw, 50px);
    width: 80%;
  }

  .gruppendiv {
    width: 80%;
  }

  .gruppenbild {
    margin-top: -30px;
    height: 59%;
    width: 100%;
    border-width: 3px;
    border-color: gray;
  }

  .contactdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
  }
  .map {
    border: solid;
    border-width: 5px;
    border-color: gray;
    width: 80%;
    height: clamp(300px, 30vh, 450px);
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .daten {
    font-size: clamp(3px, 3vw, 25px);
  }
  .reviews-section h2 {
    font-size: 2rem; /* Kleinere Schriftgröße für mittelgroße Bildschirme */
    max-width: 95%; /* Noch mehr Platz auf kleinen Bildschirmen */
}

.reviews-slider {
    max-width: 90%;
}

.review-text {
    font-size: 1.2rem;
}

.review-detail {
    font-size: 0.9rem;
}

.review-stars {
    font-size: 1.2rem;
}

}

@media (max-width: 490px) {
  body {
    background-image: linear-gradient(
        to right,
        rgba(7, 7, 7, 0.479),
        rgba(0, 0, 2, 0.479)
      ),
      url("Fotos/background.webp");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: clamp(20px, 5vw, 40px);
    margin-top: 30px;
  }

  h3 {
    font-size: 10px;
  }
  .sichtbar {
    color: black;
  }

  .unsichtbar {
    color: transparent;
    visibility: visible;
  }

  .header {
    margin-top: -10px;
    display: flex;
    justify-content: center;
  }

  .wappen {
    height: 20vw;
  }

  .leiste {
    width: 100vw;
    height: 50px;
    border-width: 1px;
    margin-bottom: 10px;
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2);
  }

  .button {
    width: 40px;
    font-size: clamp(10px, 1vw, 20vw);
  }
  .stundenplan {
    width: 100%;
    margin-bottom: -80px;
  }
  .wochentag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eintrag {
    background-color: #00000057;
    border-color: #00000057;
  }

  .stundenplan p {
    font-size: 7px;
  }

  .divide {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
  }  

  .time {
    border-radius: 2px;
    width: 85%;
  }

  .eintrag {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .infodiv {
    flex-direction: column;
    width: 100vw;
  }

  .infotext {
    width: 60vw;
    font-size: 13px;
    width: 80%;
  }
  .contactdiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
  }
  .gruppenbild {
    margin-top: -30px;
    height: 59%;
    width: 100%;
    border-width: 3px;
    border-color: gray;
  }

  .map {
    border: solid;
    border-width: 3px;
    border-color: gray;
    width: 80%;
    height: 200px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .contact {
    margin: 30px;
  }

  .insta {
    font-size: 25px;
  }

  .instabutton {
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .reviews-section h2 {
    font-size: 1.8rem; /* Noch kleinere Schriftgröße für sehr kleine Bildschirme */
}

.review-text {
    font-size: 1rem;
}

.review-detail {
    font-size: 0.8rem;
}

.review-stars {
    font-size: 1rem;
}

.reviews-controls button {
    font-size: 1.5rem;
}
}
