/* Allgemeine Layout-Definitionen */
body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Überschriften */
h1 {
  font-size: clamp(
    16px,
    8vw,
    55px
  ); /* Mindestens 16px, skaliert mit der Bildschirmbreite (5vw), aber höchstens 40px */
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  margin-left: 80px;
  margin-right: 80px;
  color: black;
}

h3 {
  text-align: center;
  font-size: clamp(3px, 2vh, 25px);
  margin-bottom: 25px;
}

/* Button Styling */
button {
  margin-top: clamp(0px, 1vw, 10px);
  margin-bottom: clamp(0px, 1vw, 10px);
  margin-left: clamp(0px, 3vw, 30px);
  margin-right: clamp(0px, 3vw, 30px);
  border: none;
  background-color: transparent;
  color: #000;
  font-size: clamp(
    8px,
    4vw,
    30px
  ); /* Mindestens 16px, skaliert mit der Bildschirmbreite (5vw), aber höchstens 40px */
}

/* Flexbox und Skalierung für das Logo */
.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin: 20px;
  margin-left: 70px;
}

.bildlogo {
  display: flex;
  align-self: center;
  top: 0;
  left: 0;
  height: 30vw;
  max-height: 300px;
}

/* Responsive Leiste */
.leiste {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
  background-color: gold;
  box-sizing: border-box;
}

.second {
  margin-top: 50px;
}

.leiste div:hover h2 {
  text-decoration: underline;
}

/* Stundenplan Layout */
.stundenplan {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.time {
  background-color: goldenrod;
  border-radius: 5px;
}

.eintrag p {
  margin: 5px;
  font-size: clamp(12px, 1vw, 30px);
}

.eintrag p.time {
  margin-bottom: 10px;
}

.eintrag p + p {
  margin-top: 2px;
}

.hidden {
  visibility: hidden;
}

.wochentag {
  border-right: solid 2px #000;
  box-sizing: border-box;
  overflow: hidden;
  width: 200px;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.samstag {
  border: none;
}

.eintrag {
  text-align: center;
  border: solid 2px #000;
  margin: 15px;
  height: 110px;
  width: auto;
  border-radius: 5%;
}

/* Über uns Abschnitt */
.uberuns {
  margin-top: 120px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

.gruppe {
  height: 420px;
  border: solid;
  border-width: 5px;
  border-color: gray;
}

.uber {
  margin: 30px;
}

.text {
  width: 500px;
  font-size: 20px;
}

/* Instagram Button */
.insta {
  background: #c13584;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #c13584;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.insta:hover {
  background-color: #c13584;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.instabutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Kontaktbereich */
.conti {
  text-align: center;
}

.contact {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

.c {
  margin: 30px;
}

.map {
  border: solid;
  border-width: 5px;
  border-color: gray;
}

/* Footer Bereich */
.footer-links {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  background-color: #eaeaea;
}

.footer-links a {
  margin: 0 15px;
  font-size: 16px;
  color: #555;
}

.footer-links a:hover {
  color: #000;
  text-decoration: underline;
}

/* Datenschutzerklärung Seite */
.dataimp body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.dataimptext {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dataimp h1 {
  color: #333;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  width: 600px; /* 100% der Containerbreite für Mobilgeräte */
  height: 450px; /* Reduziere die Höhe auf kleineren Bildschirmen */
}

@media (max-width: 1050px) {
  .uberuns {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
  }

  .uber {
    width: 90%;
  }

  .gruppe {
    width: 100%;
    height: 59%;
    border: solid;
    border-width: 5px;
    border-color: gray;
    margin:0;
  }

  .text {
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: clamp(12px, 3vw, 40px);
    width: 80%;
  }

  h2 {
    display: flex;
    align-self: center;
    color: black;
  }

  iframe {
    width: 100%; /* 100% der Containerbreite für Mobilgeräte */
    height: 100%; /* Reduziere die Höhe auf kleineren Bildschirmen */
  }

  .nAbsprache {
    visibility: hidden;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
    
  }

  .map {
    border: solid;
    border-width: 5px;
    border-color: gray;
    width: 80%;
    height: clamp(300px, 30vh, 450px);
  }  
  
  .daten {
    font-size: clamp(3px, 3vw, 30px);
  }

  .stundenplan p {
    font-size: clamp(12px, 1vh, 20px);
  }
}

@media (max-width: 490px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: clamp(20px, 5vw, 40px);
    margin-top: -5px;
  }
 
  h3 {
    font-size: 10px;
  }

  .logo {
    margin-top: 1px;
    display: flex;
    margin-left: 39px;
  }

  .bildlogo {
    height: 20vw;
  }

  .leiste {
    width: 100vw;
    height: 50px;
  }

  .button{
    width: 40px;
  }

  .eintrag {
    height: 50px;
    width: 50px;
    margin: 2px;
  }
  

  .uberuns {
    flex-direction: column;
    width: 100vw;
  }

  .text {
    width: 60vw;
    font-size: 13px;
    width: 80%;
  }

  .gruppe {
    margin-top: -30px;
    height: 59%;
    width: 100%;
    border-width: 3px;
    border-color: gray;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
  }

  .stundenplan {
    width: 100%;
  }

  .stundenplan p {
    font-size: 7px;
  }

  .time {
    border-radius: 2px;
    width: 85%;
  }

  iframe {
    width: 100%; /* 100% der Containerbreite für Mobilgeräte */
    height: 100%; /* Reduziere die Höhe auf kleineren Bildschirmen */
  }

  .c {
    margin: 30px;
  }

  .map {
    border: solid;
    border-width: 3px;
    border-color: gray;
    width: 80%;
    height: 200px;

  }

  .insta {
    font-size: 25px;
  }

  .instabutton {
    margin-top: -20px;
    margin-bottom: -20px;
  }


}
